# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

images/*
!images/.gitkeep
!images/README.txt

attendance.db
attendance.csv
gui_test.py

# OS junk
.DS_Store
Thumbs.db

# ===============================
# Build / EXE files (PyInstaller)
# ===============================
build/
dist/
*.spec

# Executables
*.exe